.product {
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 50px;
    flex-direction: column;
    align-items: center;
    width: 80%;
    justify-content: center;
    /* background-color: hsl(196, 100%, 88%); */
    box-shadow: 0px 0px 15px -5px #777777;
    border-radius: 30px;
}

.main_img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product_img {
    box-shadow: 0px 0px 15px -5px #777777;
    height: 100%;
    max-width: 100%;
}

.product-content h3 {
    color: black;
    font-size: 30px;

}




@media screen and (min-width:940px) {
    .pa {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        justify-content: center;
        align-items: center;
    }

    .product {
        width: 70%;
        padding: 40px;
    }

    .product_img {
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 15px -5px #777777;
        max-width: 400px;
        max-height: 500px;
    }

}

.sample {
    position: fixed;
    /* スクロールしても背景が固定されるようにする */
    top: 0;
    left: 0;
    /* 左上に固定 */
    overflow: hidden;
    width: 100vw;
    /* ビューポートの幅に合わせる */
    height: calc(100vh);
    /* ビューポートの高さに合わせる */
    background-color: #e1faff;
    z-index: -999;
    /* 他のコンテンツの後ろに配置 */
}

.sample::before,
.sample::after {
    position: absolute;
    left: -50%;
    width: 200%;
    height: 200%;
    content: "";
    background-color: white;
    animation: wave linear 6s infinite;
}

.sample::before {
    top: -150%;
    border-radius: 50% 50% / 50% 70%;
}

.sample::after {
    top: -146%;
    border-radius: 30% 70% / 30% 50%;
    opacity: 0.2;
    animation-delay: 0.4s;
}

@keyframes wave {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}